
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Login/Register</h3>
                            <div class="social-line text-center">
                                <a href="http://localhost:8080/oauth2/authorize/github?redirect_uri=http://localhost:4200/" class="btn btn-danger btn-round"><i class="fa fa-github"></i> Login with GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
